body {
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

/* this is what allows each new column to be added on the right...i.e. creating new
 columns rather than appending each larger-loop column to the end of the initial container */
#container {
    display: flex;
}

#instructions {
    background-color: red;
}



